.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  font-family: 'Jaro';
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav-links li {
  cursor: pointer;
}

.login {
  color: #ff4500;
  cursor: pointer;
}

a, a:visited {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}