.about-page {
  text-align: center;
  padding: 20px;
  background-color: #121212;
  color: white;
}

.about-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-page p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}